* {
    padding: 0;
    margin: 0;
    font-family: "";
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #121214;
}

.header-bg {
    background-color: #17171A;
}

.main-bg {
    
}

span {
    color: #E07B67;
}

p {
    color: #AFABB6;
}

h1, h2 {
    color: #fff;
}