* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* #6C63FF */

body {
    height: 100vh;
    width: 100vw;
}

.tela {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.img-container {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #6b63ff63;
}

img {
    max-width: 500px;
}

.login-container {
    background-color: white;
    display: grid;
    justify-content: center;
    align-content: center;
}

.form-dados {
    display: grid;
    grid-template-columns: 1fr;
}



