* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* #6C63FF */

body {
    height: 100vh;
    width: 100vw;
}

.tela {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.img-container {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #6b63ff63;
    padding: 16px;
}

img {
    max-width: 500px;
}

.login-container {
    background-color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 16px;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 40px;
}

h2 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.form-dados {
    display: grid;
    grid-template-columns: 1fr;
}

label {
    font-size: 1.125rem;
    margin-bottom: 12px;
}

input {
    padding: 16px;
    margin-bottom: 24px;
}

input::placeholder {
    font-size: 1rem;
}

.ajuda {
    display: flex;
    justify-content: space-between;
}

.ajuda a {
    text-decoration: none;
    color: #6C63FF;
}


.botao {
    display: grid;
}

.acessar {
    background-color: #6C63FF;
    color: #FFF;
    border: none;
    margin-bottom: 12px;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.125rem;
}

.login-google {
    background-color: #1A202C;
    color: #FFF;
    border: none;
    margin-bottom: 12px;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 12px;
}

.login-google img {
    max-width: 20px;

}

.criar-conta {
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
}

.criar-conta span {
    color: #6C63FF;
}

@media (max-width: 800px) {

    .tela {
        grid-template-columns: 1fr;
    }
    .img-container {
        display: none;
    }
}
